header{
    background-image: url(./img/pattern.png);
    height: 150px;
    background-color: rgb(7, 130, 232)
}

.logo{
    height: 50px;
} 

#corsi{
    color: blue;
}

.evidenziato{
    background: yellow;
}

thead{
    background-color: blue;
    color: white;
}

table{
    width: 1000px;
}

th{
    width: 100px;
    text-align: left;
}

td{
    background-color: aqua;
}


.curiosita{
    color: rgb(190, 178, 178);
}

#monitor{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
    color: white;
}

#graph{
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    color: white;
}